.box {
    background-color: lightgray;
    width: 100px;
    height: 100px;
    /* увеличивается граница объекта над его границами (снаружи) */
    /* padding: 10px; */
    /* увеличивается граница объекта за счет его размеров (внутри) */
    /* box-sizing: border-box; */
}
.content {
    background-color: white;
    /* padding: 10px; */
    box-sizing: border-box;
}
