
/* Определение ширины с помощью пикселей */
.bar {
    width: 400px;
}
.progress {
    width: 200px;
}

/* Определение ширины с помощью em */
/* .bar {
    font-size: 8px;
    width: 20em;
}
.progress {
    font-size: 16px;
    width: 5em;
} */
/* Определение ширины с помощью % */
/* .bar {
    width: 50%;
}
.progress {
    width: 50%;
} */
